name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up GraalVM
      uses: graalvm/setup-graalvm@v1
      with:
        java-version: '22-ea' # Adjust this version to match the version you want from GraalVM
        distribution: 'graalvm'
        github-token: ${{ secrets.GITHUB_TOKEN }}
        # Add any other specific options you need for GraalVM here
    - name: Build with Maven
      run: mvn -B package --file pom.xml